<link rel="stylesheet" href="/css/styleDashboard.css">

<div class="wrapper">

    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#wattcare_errorModal"> -->
        <!-- Launch demo modal -->
      <!-- </button> -->
    <%- include('../partials/navbar'); %>
    <%- include('../partials/sidebar'); %>
    <div class="container">
        <div class="col-md-10 col-md-offset-2" id="accordion">
            <div class="fresh-table">
                <table id="fresh-table" class="table table-borderless centre">
                    <thead>
                        <th data-field="id" id="ID">ID</th>
                        <th data-field="location" data-sortable="true" id="location">N° Chambre</th>
                        <th data-field="status" data-sortable="false" id="status">Etat</th>
                        <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
                    </thead>
                    <tbody>
                        <% sensors.forEach(function(sensor) { %>
                            <% sensor_id = sensor.dev_eui%>	
                            <tr id="info<%= sensor_id %>" class="<%= sensors.status %>">
                                <td id="ID"><%= sensor_id  %></td>
                                <td id="location"><%= sensor.location %></td>
                                <td id="status<%= sensor_id %>" class="<%= sensor.status %>status"><%= sensor.status %></td>
                            <% if (sensor.status) { %>
                                <td>
                                    <a data-toggle="collapse" data-target="#collapse<%= sensor_id %>"  onclick="toggleImg('imgDown<%= sensor_id %>', 'imgUp<%= sensor_id %>')">
                                        <img id="imgDown<%= sensor_id%>" style="display:inline" src="./image/FLECHE_BAS_VERT.png" alt=""/>
                                        <img id="imgUp<%= sensor_id %>" style="display:none" src="./image/FLECHE_HAUT_VERT.png" alt=""/>
                                    </a>
                                </td>
                            </tr>
                            
                            <tr id="message<%= sensor_id %>" class="<%= sensor.status %>">
                                <td colspan="5">
                                    <div id="collapse<%= sensor_id %>" class="collapse">
                                        <div class="card-body">
                                            CHAMBRE N°<%= sensor.location %><br>"Le patient semble avoir chuté"
                                        </div>
                                        <div>
                                            <form action="/resetAlarm" method="POST" id="gauche">
                                                <input name="ID" style="display:none" value=<%= sensor_id %>>
                                                <button type="submit" id="submitGauche">VALIDER - PATIENT PRIS EN CHARGE</button>
                                            </form>
                                            <form action="/dysfonctionnement" method="POST" id="droite">
                                                <input name="ID" style="display:none" value="<%= sensor_id %>">
                                                <button type="submit" id="submitDroite">SIGNALER UN DYSFONCTIONNEMENT</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="wattcare_errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content wc_modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer alert alert-danger">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  
<script type="text/javascript">
    const source = new EventSource('/events');

    source.addEventListener('message', message => {
        // console.log('Got', message);

        // Display the event data in the `content` div
        // document.querySelector('#content').innerHTML = event.data;
        json = JSON.parse(event.data);
        if (json.refresh){
            location.reload();
        }
        
    });
</script>