<link rel="stylesheet" href="/css/styleDashboard.css">

<div class="wrapper">
    <%- include('../partials/navbar'); %>
    <%- include('../partials/sidebar'); %>
    <%- include('../partials/alert'); %>
    <%- include('../partials/dysfoncModal'); %>
    <%- include('../partials/unavailableModal'); %>
    <div class="container">
        <div class="col-10 offset-1 tableWattcare" id="tableWattcare">
            <div class="row no-gutter tableHeadWattcare">
                <div class="col-3">ID</div>
                <div class="col-3">Chambre</div>
                <div class="col-3">État</div>
                <div class="col-3">Actions</div>
            </div>
            <% sensors.forEach(function(sensor) { %>
                <% if (sensor.org_id == user.id) { %>
                <% sensor_id = sensor.dev_eui%>
                <div class="tableBodyWattcare">
                    <div class="row no-gutter <%= sensor.status %> mainRowWattcare" id="info<%= sensor_id %>" data-toggle="collapse" data-target="#collapse<%= sensor_id %>" onclick="toggleImg('imgDown<%= sensor_id %>', 'imgUp<%= sensor_id %>')">
                        <div class="col-3">
                            <%= sensor.id  %>
                        </div>
                        <div class="col-3">
                            <%= sensor.location %>
                        </div>
                        <div class="col-3 <%= sensor.status %>status" id="status<%= sensor_id %>">
                            <% if (sensor.status == true) { %>
                                ALERTE
                            <% } else { %>
                                OK
                            <% } %>
                        </div>
                        <div class="col-3">
                            <img id="imgDown<%= sensor_id%>" style="display:inline" src="./image/FLECHE_BAS_VERT.png" alt=""/>
                            <img id="imgUp<%= sensor_id %>"  style="display:none"   src="./image/FLECHE_HAUT_VERT.png" alt=""/>
                        </div>
                    </div>
                    
                    <div id="collapse<%= sensor_id %>" class="collapse <%= sensor.status %>">
                        <% if (sensor.status) { %>
                            <hr class="hrGreenWattcare">
                            <div class="collapseBodyWattcare">
                                <div class="card-body">
                                    CHAMBRE N° 369<br>Le patient semble avoir chuté <%= moment(sensor.last_event_date).format('LLLL') %>
                                </div>
                                <div class="row justify-content-center ">
                                    <div class="col-12 col-xl-5">
                                        <form action="/resetAlarm" method="POST" id="gauche">
                                            <input name="ID" style="display:none" value=<%= sensor_id %>>
                                            <button type="submit" id="submitGauche">VALIDER - PATIENT PRIS EN CHARGE</button>
                                        </form>
                                    </div>
                                
                                    <div class="col-12 col-xl-5">
                                        <input name="ID" style="display:none" value="<%= sensor_id %>">
                                        <button type="button" id="submitDroite" data-toggle="modal" data-target="#modalDysfonctionnementWattcare" onclick="saveValue('<%= sensor_id %>')">SIGNALER UN DYSFONCTIONNEMENT</button>
                                    </div>
                                </div>
                            </div>
                        <% } else { %>
                            <hr class="hrBlueWattcare">
                            <div class="col-12 collapseBodyWattcare" id="collapseNoAlertWattcare">
                                <input name="ID" style="display:none" value="<%= sensor_id %>">
                                <button type="button" id="submitDysfonctionnement" data-toggle="modal" data-target="#modalDysfonctionnementWattcare" onclick="saveValue('<%= sensor_id %>')">SIGNALER UN DYSFONCTIONNEMENT</button>
                            </div>
                        <% } %>
                    </div>
                </div>
                <% } %>
            <% }); %>
        </div>
    </div>
</div>


<!-- <script>
    // document.addEventListener
    const source = new EventSource('/events');

    source.onmessage = (event) => {
        console.log('------ Got event from backend --------');
        // alert('Got', event.data);

        // Display the event data in the `content` div
        // document.querySelector('#content').innerHTML = event.data;
        json = JSON.parse(event.data);
        if (json.refresh) {
            location.reload();
        }
    };
</script> -->

<!-- <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script> -->
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
  
    socket.on('events', function(msg) {
        if(msg  == "refresh"){
            location.reload();
        }
    });
</script>